<table>
    <tr class="months">
        <td colspan="2" class="other"><a href="">September</a></td>
        <td colspan="3">October</td>
        <td colspan="2" class="other"><a href="">November</a></td>
    </tr>
    <tr class="day_names">
        <td>Понеделник</td>
        <td>Вторник</td>
        <td>Сряда</td>
        <td>Четвъртък</td>
        <td>Петък</td>
        <td>Събота</td>
        <td>Неделя</td>
    </tr>

    <tr ng-repeat="week in weeks" class="days">
        <td ng-repeat="day in week" day-popover="{{day.date.format('YYYY-M-D')}}" ng-class="{faded: day.other, today: day.today}">
            {{day.number}}

            <!--
                <ul class="task-indicators">
                    <li class="priority-0 background"></li>
                    <li class="priority-1 background"></li>
                    <li class="priority-2 background"></li>
                    <li class="priority-3 background"></li>
                </ul>
            -->
        </td>
    </tr>
</table>
