<table>
    <tr class="months">
        <td colspan="2" class="other"><a href="">September</a></td>
        <td colspan="3">October</td>
        <td colspan="2" class="other"><a href="">November</a></td>
    </tr>
    <tr class="day_names">
        <td>Понеделник</td>
        <td>Вторник</td>
        <td>Сряда</td>
        <td>Четвъртък</td>
        <td>Петък</td>
        <td>Събота</td>
        <td>Неделя</td>
    </tr>

    <!-- Will be dynamic, I promise! -->
    <tr class="days"><td class="faded">29</td><td class="faded">30</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td></tr><tr class="days"><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td></tr><tr class="days"><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td></tr><tr class="days"><td>20</td><td class="today">21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td></tr><tr class="days"><td>27</td><td>28</td><td>29</td><td>30</td><td>31</td><td class="faded">1</td><td class="faded">2</td></tr>
</table>
