<div class="add animate-slide-right" ng-show="add_task_state">
    <form class="add-task">
        <input type="text" class="form-control control" placeholder="What do you need to do?">

        <textarea type="text" class="form-control control" placeholder="Tell me more about it..."></textarea>

        <div class="btn-group control" data-toggle="buttons">
            <label class="btn btn-success active">
                <input type="radio" name="options" id="option1" checked> Normal
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option2"> Important
            </label>
            <label class="btn btn-warning">
                <input type="radio" name="options" id="option3"> Critical
            </label>
            <label class="btn btn-danger">
                <input type="radio" name="options" id="option3"> Nuclear
            </label>
        </div>
    </form>

    <div class="buttons">
        <button class="btn btn-default cancel-button fill-1" ng-click="cancel_add_task()"><i class="glyphicon glyphicon-chevron-left"></i> Cancel</button>
        <button class="btn btn-success submit-button fill-2" ng-click="add_task()"><i class="glyphicon glyphicon-ok"></i> Add task</button>
    </div>
</div>
<div class="list animate-slide-left" ng-hide="add_task_state">
    <div class="message">
        <h1>No tasks for the day! So lazy...</h1>
    </div>

    <div class="buttons">
        <button class="btn btn-primary new fill-1" ng-click="show_add_task()"><i class="glyphicon glyphicon-plus"></i> New task! Go go go!</button>
    </div>
</div>
<!-- <div class="list-group">
    <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>

    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>

    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>

    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
</div>
 -->
